.card {
  background: #ffffff;
  border-radius: 20px;
  width: 365px;
  height: 387px;
  padding: 17px 12px 17px 12px;
}

.margin {
  margin-top: 77px;
  margin-bottom: 14;
}

.marginSubtitle {
  margin-bottom: 61px;
}

.image {
  margin-bottom: 10px;
  width: 335px;
  height: 151px;
}

.text {
  margin-bottom: 15px;
  width: 334px;
  height: 48px;
  text-align: justify;
}

.button {
  background: #000000;
  border-radius: 10px;
  color: #ffffff;
  padding: 6px 8px;
  margin-right: 17px;
}

.download {
  margin-right: 17px;
  margin-top: 7px;
}
