.background {
  background-image: url(../../../assets/heroImg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.padding {
  padding: 94px 133px 86px 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .padding {
    padding: 94px 10px 86px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
