.icon {
    background-color: transparent;
}

.feedback {
    color: white;
    font-size: 20px;
}

.action {
    display: flex;
    flex-direction: row;

}

.button {
    background-color: transparent;
    border: none;
}