@import './variables';

:root {
  --primary: #{$primary};
  --background: #{$background};
  --background-highlight: #{$background-highlight};
  --backgdrop-light: #{$backdrop-light};
  --backdrop: #{$backdrop};
  --orange: #{$orange};
  --grey: #{$grey};
  --grey-lighter: #{$grey-lighter};
  --white: #{$background};
  --fade-grey: #{$fade-grey};
  --max-white: #{$max-white};
  --coal: #{$coal};
  --border: #{$border};
  --box-shadow: #{$box-shadow};
  --raisin-black: #{$raisin-black};
  --font-color-text: #{$font-color-text};
  --gainsboro: #{$gainsboro};
  --amaranth: #{$amaranth};
  --red: #{$red};
  --silver: #{$silver};
  --magenta: #{$magenta};
  --black: #{$black};

  --color-primary: #ff4092;
  --color-secondary: #8b98a9;

  --brand-purple: #7b1173;
  --brand-pink: #ff4092;
  --brand-grey-light: #8b98a9;
  --background-content: #141414;
  
  --font-family-base: 'Sharp Sans', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Helvetica, Arial, sans-serif;
--font-family-heading: 'Sharp Sans Display', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Helvetica, Arial, sans-serif;
--font-family-monospace: 'Fira Code', 'Fira Mono', Menlo, Monaco, Consolas,
  'Courier New', monospace;
  
  --font-weight-bold: 600;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --border-color: #303030;
  
  --spacer: 2rem;
  --border-radius: 0.2rem;

  --font-size-root: 15px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.1rem;
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --line-height: 1.6;

  --layout-max-width: 85rem;
  --checkbox-size: 1.6em;

  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;
}
