.container {
    max-width: var(--break-point--large);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--spacer) / 3);
    padding-right: calc(var(--spacer) / 3);
    width: 100%;
}

.addressContainer {
  max-width: 542px;
}

.button {
  background: #ffffff;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  color: black;
  padding: 6px 6px;
  margin-right: 17px;
}

.linkBox {
  width: 100%;
}

.assetsDetails {
  border: 1px solid var(--gainsboro);
  border-radius: 5px;
  min-height: 146px;
  max-width: 809px;
}

.separator {
  border-right: 1px solid var(--gainsboro);
}

.profileAvatar {
  width: 96px;
  height: 96px;
}

@media only screen and (max-width: 500px) {
  .addressContainer {
    max-width: 95vw;
  }

  .assetsDetails {
    border: none;
    padding: 0 18px;
  }

  .separator {
    border-right: none;
  }
}
